*{
	box-sizing: border-box;
	padding: 0;
	margin: 0; 
	font-size: 16px;
	font-family: "Outfit"
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}

body{
	height: 130vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#iBOS {
	font-size: 15px;
}

.FED_header{
	width:95%;
	border: 3px solid #eeeeee;
	border-radius: 10px;
}	

.uppercase {
  text-transform: uppercase;
}


.container{
	maxwidth: 500px;
	width: 100px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #03001f;
}

form.row{
	display:flex;
	gap:10px;
	margin-bottom:10px;
}

@media (max-width: 500px) {
  .form-row {
    flex-direction: column;
  }
}

input,
select,
button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
}

h1{
	font-weight: bold; 
	text-decoration: underline;
	text-decoration-color: white;
	font-size: clamp(1.4rem, 4vw, 2rem); 
	color: white; 
	margin-bottom: 15px
}

label{
	color: white;
	font-size: clamp(0.9rem, 2.5vw, 1rem);
}

input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

select{
	margin-bottom: 10px;
}

#submit{
	display: flex;
	margin: 0 auto; 
	border: none;
	background-color: #ff843d;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}

#submit:hover{
	background-color: #e05e12;
}
	







